{% extends 'base.html' %}

{% block body %}
<div class="container mt-5">
  <h1>About Us</h1>
  <p>
    Welcome to our website! We are dedicated to providing predictions on the occurrence of diseases.
    Our mission is to develop ML-based projects that can help medical systems around the world.
    We envision a future where machine learning can be used in all paths of life.
  </p>

  <div class="mt-4">
    <h2>Contact Information</h2>
    <p><strong>Name:</strong>Anudeeep Kaddala</p>
    <p><strong>Email:</strong>anudeepkaddala@gmail.com</p>
    <p><strong>LinkedIn:</strong> <a href="">www.linkedin.com/in/anudeep-kaddala-708821169</a></p>
  </div>
</div>
{% endblock body %}
